<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Educação</h2>
        <div *ngFor="let formacao of formacoes" class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">{{formacao.instituicao}}</h3>
                <div class="subheading mb-3">{{formacao.titulo}}</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">{{formacao.periodo}}</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />