<div class="container-fluid p-0">
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                {{nome}}
                <span class="text-primary">{{sobrenome}}</span>
            </h1>
            <div class="subheading mb-5">
                {{cidade}} · {{telefone}} ·
                <a href="{{hrefEmail}}">{{email}}</a>
            </div>
            <p class="lead mb-5">{{apresentacao}}<br><br>{{apresentacao2}}</p>
            <div class="social-icons">
                <a class="social-icon" target="_blank" href="{{linkedin}}"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" target="_blank" href="{{github}}"><i class="fab fa-github"></i></a>
                <a class="social-icon" target="_blank" href="{{twitter}}"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" target="_blank" href="{{facebook}}"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />

    <!-- Experience-->
        <portfolio-works></portfolio-works>
    <!-- Education-->
        <portfolio-education></portfolio-education>
    <!-- Skills-->
        <portfolio-skills></portfolio-skills>
    <!-- Awards-->
        <portfolio-courses></portfolio-courses>
</div>