<div class="container-fluid">
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
            <portfolio-mng-about></portfolio-mng-about>
        <!-- Experience-->
            <portfolio-mng-works></portfolio-mng-works>
        <!-- Education-->
            <portfolio-mng-education></portfolio-mng-education>
        <!-- Skills-->
            <portfolio-mng-skills></portfolio-mng-skills>
        <!-- Awards-->
            <portfolio-mng-courses></portfolio-mng-courses>
    </div>      
</div>     