<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
          <portfolio-navigation></portfolio-navigation>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
              <portfolio-about></portfolio-about>
            <!-- Experience-->
              <portfolio-works></portfolio-works>
            <!-- Education-->
              <portfolio-education></portfolio-education>
            <!-- Skills-->
              <portfolio-skills></portfolio-skills>
            <!-- Awards-->
              <portfolio-courses></portfolio-courses>
        </div>      
    </body>
</html>
