<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" (click)="toAbout()" routerLink='about'>
        <span class="d-block d-lg-none">{{nome}}</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../assets/images/raphael03.jpg" alt="" /></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li (click)="toAbout()" class="nav-item"><a class="nav-link js-scroll-trigger" routerLink='about'>Sobre</a></li>
            <li (click)="toWorks()" class="nav-item"><a class="nav-link js-scroll-trigger" routerLink='works'>Trabalhos</a></li>
            <li (click)="toEducation()" class="nav-item"><a class="nav-link js-scroll-trigger" routerLink='education'>Educação</a></li>
            <li (click)="toSkills()" class="nav-item"><a class="nav-link js-scroll-trigger" routerLink='skills'>Skills</a></li>
            <li (click)="toAwards()" class="nav-item"><a class="nav-link js-scroll-trigger" routerLink='courses'>Cursos</a></li>
        </ul>
    </div>
</nav>

