<section class="resume-section" id="works">
    <div class="resume-section-content">
        <h2 class="mb-5">Trabalhos e experiência</h2>
        <br>
        <div *ngFor="let experience of experiences" class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">{{experience.role}}</h3>
                <div class="subheading mb-3">{{experience.company}}</div>
                <p *ngFor="let task of experience.tasks">{{task}}</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">{{experience.period}}</span></div>
        </div>
        <br>
        <h4>Alguns projetos desenvolvidos para aplicação de conhecimentos teóricos. <a target="_blank" href="{{linkRepoGithub}}">Repositório no GitHub.</a></h4>
        <br>
        <div class="container">
          <div class="row">
            <div *ngFor="let project of projects" class="col-sm">
              <p>{{project.name}}</p>
              <a target="_blank" href="{{project.linkGithub}}"><img class="d-block w-100" src="{{project.image}}" title="Ver no Github" alt="GCMP Front"></a>
              <portfolio-modal [projects]="project"></portfolio-modal> 
            </div>
          </div>
        </div>               
    </div>
</section>
<hr class="m-0" />